    /* Absolute Center Spinner */
    .kw-loading {
      position: fixed;
      z-index: 999;
      height: auto;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: bold;
  }
  
  /* Transparent Overlay */
  .kw-loading:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
  }
  
  /* Loading Text */
  .kw-loading-text {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #ffffff;
      z-index: 999;
  }
  
  /* Spinner */
  .kw-loading:after {
      content: '';
      display: block;
      font-size: 10px;
      width: 1em;
      height: 1em;
      margin-top: 0.5em;
      animation: spinner 150ms infinite linear;
      border-radius: 0.5em;
      box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, 
                  rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, 
                  rgba(255, 255, 255, 0.75) 0 1.5em 0 0, 
                  rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, 
                  rgba(255, 255, 255, 0.75) -1.5em 0 0 0, 
                  rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, 
                  rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, 
                  rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  @keyframes spinner {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  