
.crossword-table {
    border-collapse: collapse;
}

.crossword-table td {
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: beige;
}

.filled-cell {
    background-color: #d6d6d6;
    border: 1px solid rgb(0, 0, 0);
}

.empty-cell {
    background-color: #ffffff;
}

.clue-number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
}

.letter {
    font-size: 16px;
    font-weight: bold;
}

.clue-image {
    max-width: 100px;
    margin-top: 5px;
}

#clues-container {
    margin-top: 20px;
}

#crossword-container {
    width: 100%;
}

.cross-word-primary-button{
    padding: 10px;
    display: inline;
    border-radius: 2px;
    font-family: "Arial";
    border: 0;
    margin: 0 10px;
    background: rgb(0, 68, 255);
    font-size: 15px;    
    line-height: 15px;
    color: white;
    width: auto;
    height: auto;
    box-sizing: content-box;
    cursor: pointer;
}